img{
  border: none;
}

#progressBackground{ 
  position:absolute;
  top:0px; 
  left:0px; 
  height:4px; 
  width:100%;  
  z-index:2;
  background-color: #626162; 
}

#progress{ 
  position:absolute;
  top:0px;
  left:0px; 
  height:4px; /* cover the whole page */
  width:100%;  /* cover the whole page */
  z-index:2;
  background-color: #929192; 
}

#addActor{
  display:none;
  position:absolute;
  top:10px;
  right:15px;
  font-size:30px;
  font-weight:bold;
  color:#888888;
  cursor:pointer;
}

#savePanel{
  display:none;
  position:absolute;
  bottom:10px;
  right:15px;
  font-size:30px;
  font-weight:bold;
  color:#888888;
  cursor:pointer;
}



.ui-widget{
  font-size:12px;
}

#dialog-edit{

}

.actorImageFade {
}

.actorImageFade .actorValue{
  display:none;
}

.actorImageFade .actorTitle{
  overflow: hidden;
  text-align: left;
  width:100%;
}

.actorImageFadeFalse .actorImage {
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
.actorImageFadeTrue .actorImage {
  filter:alpha(opacity=100);
  -moz-opacity:1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
}



.actorImageInactive {
}

.actorImageInactive .actorValue{
  display:none;
}

.actorImageInactive .actorTitle{
  overflow: hidden;
  text-align: left;
  width:100%;
}

.actorImageInactiveFalse .actorImage {
  display:block;
}
.actorImageInactiveTrue .actorImage {
  display:none;
}


.actorImageActive {
}

.actorImageActive .actorValue{
  display:none;
}

.actorImageActive .actorTitle{
  overflow: hidden;
  text-align: left;
  width:100%;
}

.actorImageActiveFalse .actorImage {
  display:none;
}
.actorImageActiveTrue .actorImage {
  display:block;
}

.actorButton .actorValue{
  display:none;
}

.actorButton .actorTitle{
  overflow: hidden;
  text-align: center;
  width:100%;
}

.actorButtonTrue {
  background-color: #00FF00;
}

.actorButtonFalse {
  background-color: #FF0000;
}

.actorButton3D .actorValue{
  display:none;
}

.actorButton3D .actorTitle{
  overflow: hidden;
  width:100%;
  height:100%
}

.actorButton3D {
  	text-align: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;



}.actorButton3D:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}


.actorButton3D:active {
	position:relative;
	top:1px;
}

.actorButton3DTrue {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;

	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
}

.actorButton3DTrue:hover {

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );

	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');

	background-color:#8cb82b;

}.actorButton3DTrue:active {

	position:relative;

	top:1px;

}



.actorButton3DFalse {

	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;

	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;

	box-shadow:inset 0px 1px 0px 0px #f5978e;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );

	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');

	background-color:#f24537;

	-moz-border-radius:6px;

	-webkit-border-radius:6px;

	border-radius:6px;

	border:1px solid #d02718;

	display:inline-block;

	color:#ffffff;

	font-family:arial;

	font-size:15px;

	font-weight:bold;

	padding:6px 24px;

	text-decoration:none;

	text-shadow:1px 1px 0px #810e05;

}.actorButton3DFalse:hover {

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );

	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');

	background-color:#c62d1f;

}.actorButton3DFalse:active {

	position:relative;

	top:1px;

}





.panelBlack{
  background-color:#000000;
  color:#FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.panelWhite{
  background-color:#FFFFFF;
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;

}



